.root {
  position: absolute;
  line-height: 1;
  border: 1px solid #13c2c2;
  border-radius: 3px;
  background-color: #fff;
  z-index: 10000;
  box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 0 0 1px #eee;
  padding: 4px;
  white-space: nowrap;
  user-select:none;
  > img {
    cursor: pointer;
    margin-right: 8px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
