.menu {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 0 0 1px #eee;
  padding: 5px 0;
  min-width: 80px;
  text-align: center;
  z-index: 9998;
  font-size: 14px;
  font-weight: lighter;
}
